img{
height:250px;

}
body{
    background-image: url("https://memegene.net/sites/default/files/wallpaper/dirt-clipart/405641/dirt-clipart-background-405641-8540195.jpg");
 
}
body{
 font-family: 'ZCOOL QingKe HuangYou', cursive;
 color:#ffffff;
}

